<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Venue</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="VenueController">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="VenueForm">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" ng-model="venueViewModel.name" lb-alphabetic name="name" lb-required>
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>

                            </div>
                            <div class="form-group">
                                <label>Number of Halls</label>
                                <input class="form-control" ng-model="venueViewModel.numOfHalls" name="numOfHalls" lb-required lb-numeric>
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>Rent</label>
                                <input class="form-control" ng-model="venueViewModel.venueRent" name="venueRent" lb-required lb-numeric>
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>VEG - Price/Plate</label>
                                <input class="form-control" ng-model="venueViewModel.vegPrice" name="vegPrice" lb-required lb-numeric>
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>NON VEG - Price/Plate</label>
                                <input class="form-control" ng-model="venueViewModel.nonVegPrice" name="nonVegPrice" lb-required lb-numeric>
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>Short Description</label>
                                <input class="form-control" ng-model="venueViewModel.shortDescr" name="shortDescr" lb-required lb-alphanumeric>
                                <label class="error required" style="display:none"></label>
                                <label class="error alphanumeric" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>Detailed Desscription</label>
                                <input class="form-control" ng-model="venueViewModel.detailDescr" name="detailDescr">
                            </div>
                            <div class="form-group">
                                <label>History Of Booking</label>
                                <input class="form-control" ng-model="venueViewModel.historyOfBooking" name="historyOfBooking" lb-required lb-numeric>
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>Budget</label>
                                <input class="form-control" ng-model="venueViewModel.budget" name="budget" lb-required lb-alphabetic>
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input class="form-control" ng-model="venueViewModel.state" name="state" lb-required lb-alphabetic>
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control" ng-model="venueViewModel.city" name="city" lb-required lb-alphabetic>
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>Area</label>
                                <input class="form-control" ng-model="venueViewModel.area" name="area" lb-required lb-alphabetic>
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                            </div>
                            <div class="form-group">
                                <label>Feature Title</label>
                                <input class="form-control" ng-model="venueViewModel.featureTitle" name="featureTitle">
                            </div>
                            <div class="form-group">
                                <label>Feature Description</label>
                                <input class="form-control" ng-model="venueViewModel.featureDescr" name="featureDescr">
                            </div>
                            <button type="button" class="btn btn-default" ng-click="AddFeature()">Add Feature Category</button>
                            <div class="form-group" ng-repeat="featureValue in venueViewModel.featureValues track by $index">
                                <label>Feature Category Title</label>
                                <input class="form-control" ng-model="featureValue.featureCategoryTitle" lb-required>
                                <label class="error required" style="display:none"></label>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default marginTop10" ng-click="AddFeatureCategory(featureValue)">Add Feature Sub Category</button>
                                </div>
                                <div class="form-group" ng-repeat="featureCategoryValue in featureValue.featureCategoryValues track by $index">
                                    <label>Feature Sub Category Title</label>
                                    <input class="form-control" ng-model="featureCategoryValue.featureSubCategoryTitle" lb-required>
                                    <label class="error required" style="display:none"></label>
                                    <label>Feature Sub Category Value</label>
                                    <input class="form-control" ng-model="featureCategoryValue.featureSubCategoryValue" lb-required>
                                    <label class="error required" style="display:none"></label>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default marginTop10" ng-click="DeleteFeatureCategory(featureCategoryValue,featureValue)">Delete Feature Category</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default marginTop10" ng-click="DeleteFeature(featureValue)">Delete Feature</button>
                                </div>
                            </div>
                            <div class="form-group marginTop10">
                                <button type="button" class="btn btn-default" ng-click="AddOtherHighlights()">Add Other Highlights</button>
                            </div>
                            <div class="form-group" ng-repeat="otherHighlightItem in venueViewModel.otherHighlights track by $index">
                                <label>Category</label>
                                <input class="form-control" ng-model="otherHighlightItem.category" lb-required lb-alphabetic>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                                </div>
                                <label>Is Available</label>
                                <select class="form-control" ng-model="otherHighlightItem.isAvailable" lb-required>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default marginTop10" ng-click="DeleteHighlight(otherHighlightItem)">Delete Highlight</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Vendor Name</label>
                                <input class="form-control" ng-model="venueViewModel.vendorName">

                            </div>
                            <div class="form-group">
                                <label>Vendor Type</label>
                                <input class="form-control" ng-model="venueViewModel.vendorType">

                            </div>
                            <div class="form-group">
                                <label>Primary Mobile</label>
                                <input class="form-control" ng-model="venueViewModel.primaryMobile">

                            </div>
                            <div class="form-group">
                                <label>Secondary Mobile</label>
                                <input class="form-control" ng-model="venueViewModel.secondaryMobile">

                            </div>
                            <div class="form-group">
                                <label>Percentage Commission</label>
                                <input class="form-control" ng-model="venueViewModel.percentageCommission">

                            </div>
                            <div class="form-group">
                                <label>Overall Ratings</label>
                                <input class="form-control" ng-model="venueViewModel.overallRatings">

                            </div>
                            <div class="form-group">
                                <label>Using Vendor App?</label>
                                <select class="form-control" ng-model="venueViewModel.isUsingVendorApp">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Full Address</label>
                                <textarea class="form-control" ng-model="venueViewModel.address"></textarea>
                            </div>
                            <div class="form-group marginTop10">
                                <button type="button" class="btn btn-default" ng-click="AddHall()">Add Hall</button>
                            </div>
                            <div class="form-group" ng-repeat="hall in venueViewModel.halls track by $index">
                                <label>Hall Name</label>
                                <input class="form-control" ng-model="hall.hallName" lb-required lb-alphabetic>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                                </div>
                                <label>Seating Capacity</label>
                                <input class="form-control" ng-model="hall.seating" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Floating Capacity</label>
                                <input class="form-control" ng-model="hall.floating" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Car Parking Capacity</label>
                                <input class="form-control" ng-model="hall.carCapacity" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Bike Parking Capacity</label>
                                <input class="form-control" ng-model="hall.bikeCapacity" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Number Of Rooms</label>
                                <input class="form-control" ng-model="hall.rooms"  lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Veg Price/Plate</label>
                                <input class="form-control" ng-model="hall.vegPrice" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Non-Veg Price/Plate</label>
                                <input class="form-control" ng-model="hall.nonVegPrice" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error" style="display:none"></label>
                                </div>
                                <label>Short Description</label>
                                <input class="form-control" ng-model="hall.shortDescription" lb-required lb-alphanumeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error alphabetic" style="display:none"></label>
                                </div>
                                <label>Detail Description</label>
                                <textarea class="form-control" ng-model="hall.detailDescription"></textarea>
                                <label>Hall Ratings</label>
                                <input class="form-control" ng-model="hall.ratings" lb-numeric>
                                <div class="form-group">
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <label>Is The Hall Air Conditioned?</label>
                                <select class="form-control" ng-model="hall.isAirConditioned" lb-required>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                </div>
                                <label>Is Buffet Available?</label>
                                <select class="form-control" ng-model="hall.isBuffetAvailable" lb-required>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                </div>
                                <div class="form-group">
                                <button type="button" class="btn btn-default marginTop10" ng-click="DeleteHall(hall)">Delete Hall</button>
                                </div>
                            </div>
                            <div class="form-group marginTop10">
                                <button type="button" class="btn btn-default" ng-click="AddMenu()">Add Menu</button>
                            </div>
                            <div class="form-group" ng-repeat="menu in venueViewModel.menus track by $index">
                                <label>Menu Title</label>
                                <input class="form-control" ng-model="menu.menuTitle" lb-required lb-alphanumeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error alphanumeric" style="display:none"></label>
                                </div>
                                <label>Price of Package</label>
                                <input class="form-control" ng-model="menu.price" lb-required lb-numeric>
                                <div class="form-group">
                                <label class="error required" style="display:none"></label>
                                <label class="error numeric" style="display:none"></label>
                                </div>
                                <div class="form-group marginTop10">
                                    <button type="button" class="btn btn-default" ng-click="AddMenuItem(menu)">Add Menu Item</button>
                                </div>
                                <div class="form-group" ng-repeat="menuItem in menu.items track by $index">
                                    <label>Item Name</label>
                                    <input class="form-control" ng-model="menuItem.itemName" lb-required lb-alphabetic>
                                    <div class="form-group">
                                    <label class="error required" style="display:none"></label>
                                    <label class="error alphabetic" style="display:none"></label>
                                    </div>
                                    <label>No:of Types : {{menuItem.types.length}}</label>
                                    <div class="form-group">
                                        <label>Item Types</label>
                                        <input class="form-control" ng-model="menuItem.types" ng-list lb-required>
                                        <label class="error required" style="display:none"></label>
                                    </div>
                                    <div class="form-group marginTop10">
                                        <button type="button" class="btn btn-default" ng-click="DeleteMenuItem(menuItem,menu)">
                                            Delete Menu Item
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group marginTop10">
                                    <button type="button" class="btn btn-default" ng-click="DeleteMenu(menu)">Delete Menu</button>
                                </div>
                            </div>
                            <!--<div class="form-group">
                <label>Location Area Id</label>
                <input class="form-control" ng-model="venueViewModel.Name">
                <p class="help-block">(in block letters)</p>
            </div>
            <div class="form-group">
                <label>Vendor Id</label>
                <input class="form-control" ng-model="venueViewModel.Name">
                <p class="help-block">(in block letters)</p>
            </div>-->
                            <button type="submit" class="btn btn-default" ng-click="AddVenue()">Add Venue</button>
                        </div>
                    </form>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
