<div ng-controller="indexController">
 <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
              <li data-target="#main-slider" data-slide-to="1"></li>
              <li data-target="#main-slider" data-slide-to="2"></li>
          </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                        <div class="finderform">
                        <form>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-4">
                            <select class="form-control">
                            <option>Select Vendor Category</option>
                            <option value="Venue">Venue</option>
                            <option value="Photographer">Photographer</option>
                            <option value="Cake">Cake</option>

                            </select>
                            </div>
                             <div class="form-group col-md-4 col-sm-4">
                            <select class="form-control">
                            <option>Select City</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Coimbatore">Coimbatore</option>
                            <option value="Banglore">Banglore</option>

                            </select>
                            </div>
                             <div class="form-group col-md-4 col-sm-4">
                            <button class="btn btn-primary btn-lg btn-block vendr" type="submit">Find Vendors</button>
                            </div>
                          </div>
                          </form>
                          </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">                            </div>
                        </div>
                    </div>
                </div>
<!--/.item-->

<div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="finderform">
                        <form>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-4">
                            <select class="form-control">
                            <option>Select Vendor Category</option>
                            <option value="Venue">Venue</option>
                            <option value="Photographer">Photographer</option>
                            <option value="Cake">Cake</option>

                            </select>
                            </div>
                             <div class="form-group col-md-4 col-sm-4">
                            <select class="form-control">
                            <option>Select City</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Coimbatore">Coimbatore</option>
                            <option value="Banglore">Banglore</option>

                            </select>
                            </div>
                             <div class="form-group col-md-4">
                            <button class="btn btn-primary btn-lg btn-block vendr" type="submit">Find Vendors</button>
                            </div>
                          </div>
                          </form>
                          </div>
                           
                        </div>
                    </div>
              </div>
<!--/.item-->

<div class="item" style="background-image: url(images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="finderform">
                        <form>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-4 ">
                            <select class="form-control">
                            <option>Select Vendor Category</option>
                            <option value="Venue">Venue</option>
                            <option value="Photographer">Photographer</option>
                            <option value="Cake">Cake</option>

                            </select>
                            </div>
                             <div class="form-group col-md-4 col-sm-4">
                            <select class="form-control">
                            <option>Select Cit</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Coimbatore">Coimbatore</option>
                            <option value="Banglore">Banglore</option>

                            </select>
                            </div>
                             <div class="form-group col-md-4 col-sm-4">
                            <button class="btn btn-primary btn-lg btn-block vendr" type="submit">Find Vendors</button>
                            </div>
                          </div>
                          </form>
                          </div>

                            
                        </div>
                    </div>
              </div>
              <!--/.item-->
          </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        
             </section>
        <!--/#main-slider-->
  <section id="sec3">
<div class="container">
<div class="col-md-12  col-lg-12 col-sm-12 col-xs-12 abt">
<h2>Start Planning Your Wedding Day</h2>
<p>4000+ Weddings Planned last Month 15 Cities Over 4000 Wedding Venues & Vendors</p>
<a class="btn btn-primary text-center plan" href="#">START PLANNING TODAY</a>
</div></div>
</section>
<section id="sec5">
 <div class="container venue glry">
   <h2>Most Popular Vendors</h2>
   <div class="row">
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 galry">
         <img src="images/venue/v5.png"/>
         <p>Caterer</p>
     </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 galry">
          <img src="images/venue/v5.png"/> 
          <p>Photography</p>
     </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 galry">
           <img src="images/venue/v5.png"/> 
           <p>Invitation</p>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 galry">
            <img src="images/venue/v5.png"/> 
            <p>Venue</p>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 galry">
             <img src="images/venue/v5.png"/> 
             <p>Make Up</p>
      </div>


      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 galry">
          <img src="images/venue/v5.png"/> 
          <p>Decorator</p>
      </div>
   </div>
 </div>
</section>

<section id="sec8">
<div class="container populr">
<h2>Most Popular Venues<span class="pull-right venu"><a href="" ng-click=setVF('all')>All</a>
<a href="" ng-click=setVF('best')>best</a></span></h2>


<div class="col-md-10 mixed">

<div id="mixedSlider">
                    <div class="MS-content">
                        <div class="item" ng-repeat="venue in venues1 |filter:best">
                            <div class="imgTitle">
                               
                                <img ng-src="{{venue.imgPath}}" alt="" />
                            </div>
							<div class="imagetitle">
							 <h2 class="blogTitle">{{venue.vname}}</h2>
                            <p>{{venue.varea}}, {{venue.vcity}}
							<span class="galrtxt">
						
						{{venue.rating}}<i class="fa fa-star icn" aria-hidden="true"></i></span>
						</p></div>
                            
                        </div>
                       
                       
                    </div>
                    <div class="MS-controls">
                        <button class="MS-left"><i class="fa fa-angle-left arr" aria-hidden="true"></i></button>
                        <button class="MS-right"><i class="fa fa-angle-right arr" aria-hidden="true"></i></button>
                    </div>
                </div>
</div>
<div class="col-md-2 titl">
<img src="images/gallery/view.jpg">
</div>



</div>
<div class="modal fade" id="loc" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content content">
	  
	   <div class="modal-body">
	   
      

  
  
<table>
<thead>
<tr class="hdr">
<th ng-click="locationChange($event)" data-dismiss="modal">Chennai</th>
<th ng-click="locationChange($event)" data-dismiss="modal">Coimbatore</th>
<th ng-click="locationChange($event)" data-dismiss="modal">Banglore</th>
</tr>
</thead>
<tbody>
<tr class="place">
<td ng-click="locationChange($event)" data-dismiss="modal">Virgambakkam</td>
<td ng-click="locationChange($event)" data-dismiss="modal">ondipudur</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Koramangala</td>
</tr>
<tr class="place">
<td ng-click="locationChange($event)" data-dismiss="modal">Vadapalani</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Ramnathapuram</td>
<td ng-click="locationChange($event)" data-dismiss="modal">M.K Gandhi nagar</td>
</tr>
<tr class="place">
<td ng-click="locationChange($event)" data-dismiss="modal">Mount Road</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Peelamedu</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Indira nagar</td>
</tr>
</tbody>
</table>

 
  


        </div>
        
         
        
      </div>
      
    </div>
  </div>

</div>
</div>
</section>

   

 

 <section id="sec10">
<div class="container">
<h2>Your Wedding Planning Start Here</h2>
<div class="col-md-12  col-lg-12 col-sm-12 col-xs-12 planning text-center">
<div class="col-md-4">
<img src="images/plan/galry2.png">
<p>Find Local Vendor</p>
</div>
<div class="col-md-4">
<img src="images/plan/galry3.png">
<p>Contact Vendor</p>
</div>

<div class="col-md-4">
<img src="images/plan/galry5.png">
<p>Save Your Date</p>
</div>

</div></div>
</section>


 
 <!-- Modal -->
 
<script src="js/multislider.js"></script> 
     <script>
$('#basicSlider').multislider({
			continuous: true,
			duration: 250
		});
		$('#mixedSlider').multislider({
			duration: 50,
			
		});
</script>


   
  