<div ng-controller="VenueDetailsController"  ng-init="intializePage()">

<section id="banner">
<div class="container">
<div class="col-sm-12 venue-contents">
          <div class="col-sm-8 fluid_container">
          <p><a href="#">HOME</a><i class="fa fa-angle-right ryt" aria-hidden="true"></i><span class="a1"><a href="#">VENUE</a><i class="fa fa-angle-right ryt" aria-hidden="true"></i></span><span class="a2">{{venue.name}}</span></p>
          <div class="description">
<h2 class="headng">About {{venue.name}}</h2>
<p class="parag">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
<ul class="bxslider">
  <li><img src="images/slider/bg1.jpg" /></li>
  <li><img src="images/slider/bg2.jpg" /></li>
  <li><img src="images/slider/bg3.jpg" /></li>
  <li><img src="images/slider/bg1.jpg" /></li>
  <li><img src="images/slider/bg2.jpg" /></li>
  <li><img src="images/slider/bg3.jpg" /></li>
  <li><img src="images/slider/bg1.jpg" /></li>
  <li><img src="images/slider/bg2.jpg" /></li>
  <li><img src="images/slider/bg3.jpg" /></li>
</ul>
<div class="bx-controls bx-has-controls-direction">
<div class="bx-controls-direction">
<a class="bx-prev" href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
<a class="bx-next" href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
</div>
</div>





    </div><!-- .fluid_container -->
	
	
	
    <div class="col-sm-4 dtals">
    <h2>VENUE DETAILS</h2>
	<div class="detail">
	<div class="col-xs-12 detl">
	<div class="table">
    <div class="table-row">
    <div class="column">
     <h4>NAME:</h4>
    </div>
   <div class="column">
   <h4>{{venue.name}}</h4>
   </div>
    </div>
     <div class="table-row">
     <div class="column">
     <h4>LOCATION:</h4>
     </div>
     <div class="column"><h4>{{venue.city}}</h4></div>
     </div>
     <div class="table-row">
     <div class="column">
     <h4>PRICE:</h4>
     </div>
     <div class="column"><h4>{{venue.venueRent}}</h4></div>
     
     </div>
     <div class="table-row">
     <div class="column">
     <h4>RATING:</h4>
     </div>
     <div class="column">
    <h4>4star</h4>
    </div>
     </div>
    

    </div>
	<div class="row"></div>
	 <h4 class="imp">OTHER HIGHLIGHTS</h4>
	<ul class="highlight">
	<li ng-repeat="otherHiglight in venue.otherHighlights" class="highlight">
	<span ng-class="otherHiglight.isAvailable =='1' ? 'tck fa fa-check':'crs fa fa-times'" aria-hidden="true">
	</span> 
     {{otherHiglight.category}}</li>
	</ul>
	</div>
	</div>
    </div>
    </div></div>
	<div id="bx-pager">
	
  <a data-slide-index="0" href=""><img src="images/gallery/v1.jpg" /></a>
  <a data-slide-index="1" href=""><img src="images/gallery/v1.jpg" /></a>
  <a data-slide-index="2" href=""><img src="images/gallery/v1.jpg" /></a>
  <a data-slide-index="3" href=""><img src="images/gallery/v1.jpg" /></a>
  <a data-slide-index="4" href=""><img src="images/gallery/v1.jpg" /></a>
  
</div>

    </div>
    </section>
    <div class="row"></div>
    <section id="tab" ng-init="intializePage()">
    <div class="container">
    <div class="col-sm-12">
    <div class="col-sm-8">
    <div class="tab tab-horiz">
			<ul class="tab-legend cnt">
            <li class="active">Overview</li>
				<li>Contact</li>
				<li>Price / Menu</li>
				<li>Reviews / Rating</li>
				
			</ul>
			<ul class="tab-content tabcnt">
				<li>
					<!--TAB CONTENT-->
					<div class="col-sm-12">
					<div class="col-sm-4 listing">
					<h4>Price Per Plate</h4>
					 <p><span class="veg"><i class="fa fa-circle" aria-hidden="true"></i>
</span>VEG <span class="rupee pull-right">Rs. 1,000/-</span><br>
					 <span class="nonveg"><i class="fa fa-circle" aria-hidden="true"></i>
</span>NON - VEG <span class="rupee pull-right">Rs. 1,200/-</span><p>
					</div>
					<div class="col-sm-4 listing">
					<h4>Lodging</h4>
					<p class="price">Rooms Available</p>
                    <p class="numbr">No. of Rooms:<span class="room">50</span><br>
					Per Room Price:<span class="room">Rs.12,000 - 13,000</span><p>
					</div>
					<div class="col-sm-4 listing">
					<h4>Highlights</h4>
					<p ng-repeat="otherHiglight in venue.otherHighlights" class="highlight">
					<span ng-class="otherHiglight.isAvailable =='1' ? 'tck fa fa-check':'crs fa fa-times'" aria-hidden="true"></span> 
     {{otherHiglight.category}}
					<p>
					</div>
					</div>
				</li>
				<li>
					<!--TAB CONTENT-->
					<h4>Content1</h4>
				</li>
				<li>
					<!--TAB CONTENT-->
					<div class="col-sm-12">
					<div class="col-sm-6 vegie">
					<h2>VEG</h2>
					<table class="table table-bordered">
    <thead>
      <tr>
        <th>Menu</th>
        <th>Varieties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Soup</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Starters</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Curry</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
					</div>
					<div class="col-sm-6 Nonvegie">
					<h2>Non - VEG</h2>
					<table class="table table-bordered">
    <thead>
      <tr>
        <th>MENU</th>
        <th>VARITIES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Soup</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Starters</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Curry</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
					</div>
					</div>
				</li>
				<li>
					<!--TAB CONTENT-->
					<div class="col-sm-12">
					<div class="col-sm-4 listing">
					<h4 class="rates">Rating Summary</h4>
					<p>Cleanliness<span class="star pull-right"><i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span><br>				
 Event Decoration<span class="star pull-right"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span><br>				
 Food Quality<span class="star pull-right"><i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span><br>				
 Location<span class="star pull-right"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span><br>	
Parking<span class="star pull-right"><i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span><br>				
Services<span class="star pull-right"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></span></p>	
</div> 
</div>
                </li>
				
			</ul></div>
		</div>
        <div class="col-sm-4">
        </div>
        </div></div>
        <div class="modal fade" id="loc" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content content">
	  
	   <div class="modal-body">
	   
      

  
  
<table>
<thead>
<tr class="hdr">
<th ng-click="locationChange($event)" data-dismiss="modal">Chennai</th>
<th ng-click="locationChange($event)" data-dismiss="modal">Coimbatore</th>
<th ng-click="locationChange($event)" data-dismiss="modal">Banglore</th>
</tr>
</thead>
<tbody>
<tr class="place">
<td ng-click="locationChange($event)" data-dismiss="modal">Virgambakkam</td>
<td ng-click="locationChange($event)" data-dismiss="modal">ondipudur</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Koramangala</td>
</tr>
<tr class="place">
<td ng-click="locationChange($event)" data-dismiss="modal">Vadapalani</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Ramnathapuram</td>
<td ng-click="locationChange($event)" data-dismiss="modal">M.K Gandhi nagar</td>
</tr>
<tr class="place">
<td ng-click="locationChange($event)" data-dismiss="modal">Mount Road</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Peelamedu</td>
<td ng-click="locationChange($event)" data-dismiss="modal">Indira nagar</td>
</tr>
</tbody>
</table>

 
  


        </div>
        
         
        
      </div>
      
    </div>
  </div>
</section>

</div>



    
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css">
    <link href="css/styles.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/jquery-gentleSelect.css" rel="stylesheet" />
    <link type="text/css" href="css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/tabModule.css" />
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel='stylesheet' id='camera-css'  href="css/camera.css"> 
    
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
     <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="js/jquery-gentleSelect.js"></script>
    <script src="js/main.js"></script>
    <script type='text/javascript' src="js/camera.min.js"></script>
       <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script> 
   <script type="text/javascript" src="js/tabModule.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
      <script>
 $('.bxslider').bxSlider({
  pagerCustom: '#bx-pager'
});
</script>
 <script type="text/javascript">
		$(document).ready(function(){
			 tabModule.init();
		});
	</script>